*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
wear/build/
node_modules/
package.json
package-lock.json
docs/backend-streaming-improvements.md
