.background {
  background-color: #07060f;
}

.logo {
  background-image: url(https://cdn.jsdelivr.net/gh/Pr0zak/Zonik-mobile@main/cast/icon.png);
  background-size: 384px 384px;
  background-repeat: no-repeat;
  background-position: center;
}

.splash {
  background-image: url(https://cdn.jsdelivr.net/gh/Pr0zak/Zonik-mobile@main/cast/icon.png);
  background-size: 384px 384px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #07060f;
}

.watermark {
  background-image: url(https://cdn.jsdelivr.net/gh/Pr0zak/Zonik-mobile@main/cast/icon.png);
  background-size: 57px 57px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.progressBar {
  background-color: #AFA9EC;
}
